.cache/
.docker/
.eclipse/
.gitconfig
.idlerc/
.jdks/
.m2/
.p2/
.vscode/
AppData/
Contacts/
Documents/
Downloads/
Favorites/
IdeaProjects/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT*
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
eclipse-workspace/
eclipse/
mkdir
msmpisetup.exe
ntuser.dat.LOG*
ntuser.ini
